body{
margin:0px;
padding:0px;
font-size:25px;
text-align:center;
background-color:rgb(136, 130, 130);
height:100vh;
}
.layout-container{
    display:flex;
    flex-direction:column;
    height:100vh;
}
.flx-header{
    padding: 30px;
    background-color:rgb(104, 104, 238);
}
.flx-main-container{
    display:flex;
    flex: 1;
}
.flx-nav,.flx-aside{
    background-color:rgb(146, 65, 139);
    padding: 30px;
    flex: 1;
}
.flx-article-section{
    background-color:white;
    padding: 30px;
    flex:4;
}
.flx-footer{
    background-color:rgb(25, 189, 74);
    padding:30px;
}